table {
    font-family: "calibri", Garamond, 'Comic Sans';
}
td {
    padding-left: 5px;
    padding-right: 5px;
}
thead {
    text-align: center;
    font-weight: bold;
}
tfoot {
    text-align: right;
}
tbody td {
    padding-left: 5px;
}
.line{
    width: 30px;
}
.first-name {
    width: 100px;
}
.last-name {
    width: 100px;
}
.score{
    width: 80px;
}